@tailwind base;
@tailwind components;
@tailwind utilities;

.background-first {
    background-image: url('./assets/dark.jpeg');
  
    background-size: cover;
  
    background-attachment: fixed;
  
    background-position: center center;
  
    background-color: #f0f0f0;
  
    height: 80vh;

    z-index: 999;
}

#cursor {
    display: inline-block;
    width: 1px;
    padding-left: 2px;
    height: 35px;
    background-color: white;
    animation: blink-caret 0.75s infinite;
  }
  
@keyframes blink-caret {
0%, 100% { opacity: 0; }
50% { opacity: 1; }
}

.typingSize {
    font-size: 40px;
}

.imageStyle {
    bottom: 40%;
}

.alert-viewer {
    left: 50%;
    top: 2%
}
  
.carousel-container .slick-next {
    z-index: 999;
    right: 2%; 
    margin-right: 20px;
}

.carousel-container .slick-prev {
    z-index: 999;
    left: 2%;
}

.carousel-container .slick-prev::before,
.carousel-container .slick-next::before {
  font-size: 40px;
  color: black; 
  /* size: 40px; */
  /* margin-right: 1rem; */
}

.floating-action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }

@media only screen and (max-width: 800px) {
    /* .carousel-container .slick-next {
        z-index: 999;
        right: 5px; 
    }
    
    .carousel-container .slick-prev {
        z-index: 999;
        left: 5px;
    } */

    .typingSize {
        font-size: 30px !important;
    }
    .imageStyle {
        bottom: 25% !important;
    }
    #cursor {
        height: 25px !important;
    }
}

@media only screen and (min-width: 1450px) {
    .imageStyle {
        bottom: 42.5% !important;
    }
}

@media only screen and (min-width: 1900px) {
    .carousel-container .slick-next {
        z-index: 999;
        right: 2%; 
        margin-right: 30px;
    }
    .carousel-container .slick-prev::before,
    .carousel-container .slick-next::before {
    font-size: 50px;
    color: black; 
    }
}
