@tailwind base;
@tailwind components;
@tailwind utilities;

#cursor {
  display: inline-block;
  width: 1px;
  padding-left: 2px;
  height: 35px;
  background-color: black;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.typingSize {
  font-size: 40px;
}

.imageStyle {
  bottom: 40%;
}

.alert-viewer {
  left: 50%;
  top: 2%;
}

.carousel-container .slick-next {
  z-index: 999;
  right: 2%;
  margin-right: 20px;
}

.carousel-container .slick-prev {
  z-index: 999;
  left: 2%;
}

.carousel-container .slick-prev::before,
.carousel-container .slick-next::before {
  font-size: 40px;
  color: black;
  /* size: 40px; */
  /* margin-right: 1rem; */
}

.floating-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  /* .carousel-container .slick-next {
        z-index: 999;
        right: 5px; 
    }
    
    .carousel-container .slick-prev {
        z-index: 999;
        left: 5px;
    } */

  .typingSize {
    font-size: 30px !important;
  }
  .imageStyle {
    bottom: 25% !important;
  }
  #cursor {
    height: 25px !important;
  }
}

@media only screen and (min-width: 1450px) {
  .imageStyle {
    bottom: 42.5% !important;
  }
}

@media only screen and (min-width: 1900px) {
  .carousel-container .slick-next {
    z-index: 999;
    right: 2%;
    margin-right: 30px;
  }
  .carousel-container .slick-prev::before,
  .carousel-container .slick-next::before {
    font-size: 50px;
    color: black;
  }
}

.progress-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

.menu {
  filter: drop-shadow(1px 1px 1px #4700b3);
  width: 300px;
}

.switch {
  background-color: darkgrey;
  display: flex;
  border-radius: 50px;
  gap: 20px;
  align-items: center;
  justify-items: auto;
  position: fixed !important;
  height: 40px;
  padding: 20px;
  z-index: 999999;
  color: white
}

#handle {
  height: 40px;
  width: 79px;
  border-radius: 40px;
  position: absolute;
  border:white 3px solid;
  top: 0;
  left: 0;
  margin-left: 0%;
  z-index: 9999999;
  transition: 0.5s ease;
}

.page-transition {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  transform: translateX(100%);
  transition: transform 2s ease-in-out;
  z-index: 5;
  /* overflow-x: hidden; */
}

.show {
  transform: translateX(0);
}